.btn-primary {
  height: 45px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #c36e29;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

}

.btn-primary:hover {
  background-color: #c36e29;
  transform: scale(1.05);
}


.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 5px #c36e29;
}


.btn-primary:active {
  background-color: #c36e29;
  transform: scale(1);
}

@media (max-width: 768px) {

  .btn-primary {
    height: 40px;
    font-size: 14px;
    padding: 0 16px;
  }
}
