
.categories-section {
  background-color: #ebdfc5;
  text-align: center;
  padding: 0px 20px 20px;
  position: relative;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.categories-list {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 10px 50px;
  margin: 0 px;
  list-style: none;
  width:100%;
  flex-wrap: nowrap;
  padding-left: 50px; 
  padding-right: 50px; 
  scroll-snap-type: x mandatory;
  min-height: 200px;
}

.categories-list li {
  flex: 0 0 clamp(200px, 26%, 300px);
  color: #ebdfc5; /* Color negro para el texto */
  padding: 200px 25px;
  border-radius: 8px;
  font-weight: bolder;
  text-align: center;
  min-width: 26%;
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
}
.categories-list li:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.categories-list p{
  font-size: 1.8em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Black shadow */
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: padding 0.3s, font-size 0.2s;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: #653420;
}

/* Media Queries para diseño responsivo */
@media (max-width: 1089px) {
  .categories-list{
    padding-left: 0px; 
  }
  .categories-list li {
      min-width: 100px; 
      padding: 50px 16px;/* Ajuste de ancho para pantallas medianas */
  }
  .carousel-button {
      padding: 8px;
      font-size: 20px;
  }
}

@media (max-width: 480px) {
  .categories-list li {
      min-width: 100px; /* Ajuste de ancho para pantallas pequeñas */
      padding: 8px 16px;
  }
  .carousel-button {
      padding: 6px;
      font-size: 18px;
  }
}
