.recommendations-container {
  padding: 8% 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.description-container {
  flex: 1;
  text-align: left;
}

.description-container h2 {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.description-tours {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
}

.recommendations-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recommendations-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.btn-primarySection {
  width: 120px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #c36e29;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primarySection:hover {
  background-color: #a55b20;
}

/* Mensajes de estado */
.loading-text,
.error-text,
.empty-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .recommendations-wrapper {
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .recommendations-container {
    width: 80%;
  }

  .description-container {
    padding: 0 10%;
  }

  .title-container {
    align-self: center;
  }

  .btn-primarySection {
    width: 150px;
  }
}

@media (min-width: 1024px) {
  .recommendations-container {
    width: 80%;
    align-self: center;
  }

  .title-container {
    flex-direction: row;
    align-self: center;
    width: 95%;
  }

  .description-tours {
    width: 80%;
    text-align: left;
    margin-right: 5%;
  }

  .description-container {
    width: 45%;
    padding: 0 2%;
  }

  .description-container h2 {

    text-align: left;
    width: 500px;
  }

  .recommendations-wrapper {
    /* width: 85%; */
    flex-direction: row;
    align-self: center;
    /* justify-content: space-between; */
    gap: 50px;
  }

  .btn-primarySection {
    width: 150px;
    margin-right: 2%;
  }
}
