.availability-calendar {
  width: 280px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: auto; /*cambiar el margin cuando este en un contenedor*/
}

.availability-calendar-title {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.react-calendar {
  border: none;
  background-color: transparent;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  color: #5f6368;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: bold;
}

.react-calendar__navigation button:hover {
  background-color: #ebdfc5;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  padding: 10px 0;
  color: #c36e29;
  font-weight: bold;
  font-size: 0.9rem;
}

.react-calendar__month-view__days__day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 8px;
  /* height: 50px; */
  /* transition: background-color 0.3s, color 0.3s ease-in-out; */
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

/* .react-calendar__month-view__days__day--today {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #ffffff;
} */

/* dia actual del calendario */
.react-calendar__tile--now {
  background-color: #ebdfc5;
  color: white;
  transform: scale(0.9);
}

.react-calendar__tile.highlighted {
  background-color: #c36e29;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #ffffff;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.react-calendar__tile.highlighted:hover {
  background-color: #c36e29;
}

.react-calendar__tile:active {
  background-color: #c36e29c7;
  color: white;
  transform: scale(0.9);
}

.react-calendar__month-view__days__day--weekend {
  color: #c36e29c7;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #bdbdbd;
}

.react-calendar__tile {
  border-radius: 8px;
  transition: all 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: #f1f3f4;
}

/*  */

.react-calendar__tile.occupied {
  background-color: #e7655ce7; /* Rojo para ocupadas */
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.react-calendar__tile.occupied:hover {
  background-color: #f44336;
}

/* Fecha disponible */
.react-calendar__tile.available {
  background-color: #7bd47ed5; /* Verde para disponibles */
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.react-calendar__tile.available:hover {
  background-color: #4caf50;
}

/* Fecha resaltada */
.react-calendar__tile.highlighted {
  background-color: #ff9800; /* Naranja para días resaltados */
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.react-calendar__tile.highlighted:hover {
  background-color: #fcb448;
}

/* Indicadores visuales */
.date-indicators {
  margin-top: 20px;
}

.occupied-indicator,
.available-indicator,
.highlighted-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.occupied-indicator {
  background-color: #f7594e;
}

.available-indicator {
  background-color: #7bd47ed5;
}

.highlighted-indicator {
  background-color: #ff9800;
}

/*  */

@media (max-width: 768px) {
  .availability-calendar{
    width: 100%;
  }
}

@media (min-width: 768px) {
  .availability-calendar-title {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
}